* {
  margin: 0;
  padding: 0%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  color: black;
}

.bgNavegacion {
  background-color: rgb(74, 73, 73);
}
.text-bg-dark {
  position: relative;
  overflow: hidden;
}
.custom-navbar {
  background-color: rgba(0, 0, 0, 0.685);
}

.card-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-title-lg {
  font-size: 4rem; 
  color: rgb(255, 255, 255); 
  text-align: center; 
}

.btn-primary {
  color: rgb(226, 226, 226);
  background-color: rgb(4, 4, 85);
  border-color: rgb(4, 4, 85);
}

.btn-primary:hover {
  color: rgb(226, 226, 226);
  background-color: rgb(1, 1, 45);
  border-color: rgb(1, 1, 45);
}

img.img-fluid {
  height: auto;
}

.linkFooter {
  color: #fff;
  text-decoration: none;
}

.card-img-top {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay:hover {
  opacity: 1;
}
.peliculas {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.peliculas h5,
.peliculas p {
  color: #fff; 
}

.peliculas .card {
  position: relative;
}

.peliculas .card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: crisp-edges; 
}

.peliculas .card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); 
  color: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.peliculas .card:hover .card-body {
  opacity: 1; 
  background-color: rgba(0, 0, 0, 0.7); 
}
.linkFooter:hover {
  text-decoration: underline;
}

.iconoInstagram, .fa-tiktok, .fa-whatsapp {
  margin-right: 10px;
  color: #fff;
}

.iconoInstagram:hover, .fa-tiktok:hover, .fa-whatsapp:hover {
  color: #ccc;
}

.btn-primary {
  color: black;
  background-color: gray;
  border: gray;
}

.galeria{
  width: 90%;
  margin: 0 auto;
  height: 85vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid gray;
}
.galeria img{
  width: 0px;
  height: 100%;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: .5s ease;
}

.galeria img:hover{
  width: 30%;
  opacity: 1;
  filter: contrast(120%);
}
.comics {
  padding: 50px 0;
  background-color: #f8f9fa;
}

.comics-title {
  color: #000; 
}

.comics-description {
  color: #000; 
}

.comics .card {
  position: relative;
}

.comics .card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.comics .card-body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.comics .card:hover .card-body {
  opacity: 1;
}
