$color-principal: rgb(4, 4, 85);
$color-secundario:rgb(1, 1, 45);
$color-black: #000;
$color-white: #fff;
$color-gray: gray;
$color-dark-gray: rgb(74, 73, 73);
$color-navy: rgba(0, 0, 0, 0.685);
$color-primary: rgb(4, 4, 85);
$color-hover-primary: rgb(1, 1, 45);
$color-overlay-bg: rgba(0, 0, 0, 0.7);
$color-card-bg: rgba(0, 0, 0, 0);
$color-card-hover-bg: rgba(0, 0, 0, 0.7);
$color-overlay-text: white;
$color-comics-text: #000;
$color-comics-bg: #f8f9fa;